.About_nav{
  background-color: rgb(211, 25, 211);
  display:flex;
  justify-content: space-around;
  align-items: center;
  width:100vw;
  min-height: 10vh;
  }
 h6{
   font-weight: bold;
   font-size: 20px;
   margin:7px 30%;
   text-decoration: underline;
 }
 .about_info{
   background-color: rgb(255, 251, 251);
 }
 form{
   display:flex;
   flex-direction: column;
   width:60%;
   height:400px;
   background-color:white;
   margin-left:80px;
 }
 .form_input{
   margin-left:20%;
   margin-top:10%;
   text-align: center;
   border:2px solid black;
 }
 #text_field{
   height:40%;
   width:230px;
   margin-top:10px;
 }
 #email_field{
   width:200px;
   margin-bottom:10px;
 }
 button{
   width:60px;
  
 }
  .AM  {
    align-self: start;
    margin-left: 2px;
    background-color: white;
  }

  .BY  {
    text-align: center;
    margin-left: 2px;
    background-color: white;
  }

  .KM  {
    align-self: start;
    margin-left: 2px;
    background-color: white;
  }

  .LD  {
    align-self: start;
    margin-left: 2px;
    background-color: white;
  }

  .EmailToCUs
  {
    margin-left: 20px;
  }



