
*{
 margin:0;
 padding:0;
 box-sizing:border-box;
}

.Login__page{
  background-color: rgb(246, 247, 248);
  width: 400px;
  height: 500px;
  border-radius:25px;
  border:0.5px solid black;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
h1{
 text-align: center;
 padding: 10px;
 color: #7016a0;
 font-weight: bold;
 font-size: 26px;
 text-decoration: underline;
}

.mail {
  width:76%;
  background-color: aliceblue;
 color: rgb(38, 50, 56);
 font-weight: 700;
 font-size: 14px;
 letter-spacing: 1px;
 background: rgba(136, 126, 126, 0.04);
 padding: 10px 20px;
 border: none;
 border-radius: 20px;
 outline: none;
 border: 2px solid rgba(0, 0, 0, 0.02);
 margin-bottom: 50px;
 margin-left: 46px;
 text-align: center;
 margin-bottom: 27px;
}
.pass{
  width:76%;
 
 color: rgb(38, 50, 56);
 font-weight: 700;
 font-size: 14px;
 letter-spacing: 1px;
 background: rgba(136, 126, 126, 0.04);
 padding: 10px 20px;
 border: none;
 border-radius: 20px;
 outline: none;
 border: 2px solid rgba(0, 0, 0, 0.02);
 margin-bottom: 50px;
 margin-left: 46px;
 text-align: center;
 margin-bottom: 27px;
 text-decoration: none;
}
.login__button{
 cursor: pointer;
 border-radius: 5em;
 color: #fff;
 background: linear-gradient(to right, #9C27B0, #E040FB);
 border: 0;
 padding-left: 40px;
 padding-right: 40px;
 padding-bottom: 10px;
 padding-top: 10px;
 margin-left: 35%;
 font-size: 13px;
 box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
.info{
 color:black;
 font-size:17px;
 margin-top:10px;
 padding:12px;
}
.sign_up{
 font-size: 19px;
 text-align: center;
 margin:10px;
 padding:10px;
 color:black;
}
.signbutton{
  margin-left:5px;
  color:purple;
  font-size:13px;
  letter-spacing: 1px;
  border:0.5px solid purple;
  padding: 3px;
  border-radius:25px;
  background: white;
  cursor:pointer;
}