.Main__nav{
 background-color: rgb(211, 25, 211);
 display:flex;
 justify-content: space-around;
 align-items: center;
 width:100vw;
 min-height: 10vh;
}
.motivation__page{
 display:flex;
 flex-direction: column;
 background-color: seagreen;
}
.Main__motivation{
 background-color: white;
 height:60%;
 padding:10px;

}