*{
 margin:0;
 padding:0;
 box-sizing:border-box;
 
}
.Main__nav{
 background-color: rgb(211, 25, 211);
 display:flex;
 justify-content: space-around;
 align-items: center;
 width:100vw;
 min-height: 10vh;
}
.motivation__page{
 display:flex;
 flex-direction: column;
 background-color: white;
 height:300px;
 justify-content: space-between;
}
.Main__motivation{
 background-color:white;
 height:60%;
 padding-left:30%;
 border:1px solid white;
 margin-top:10px;
 margin-bottom:10px;
 width:80%;

}
.motivationOne{
 justify-content: center;
 align-items: center;
 background-color: white;
 padding-left: 30px;
 font-size: 19px;
}
.prev, .next{
 padding:1px ;
 background-color: white;
 margin: 0 90px;
 color:purple;
 cursor: pointer;
 
}
.next{
 margin-top:10px;
}
.statement__page{
border:1px solid black;
border-radius:25px;
width:50%;
margin:8px auto;

}
.speech__page{
 border:1px solid white;
 margin-right:100px;
 padding-left: 30%;
}
.state{
 height:100px;
}